{% extends 'index.html' %} {% load static %} {% block ride_page %}

<div class="register_page d-flex justify-content-center align-items-centter">
  <div class="row vh-100 ">
    <div class="col-lg-6">
      <div class="card ">
        <h3 class="d-flex justify-content-center aligni-items-center" >Where to go</h3>
        <div class="card-body d-flex justify-content-center align-items-centter " id="">

          <form action="" method="post"class="" >
            {% csrf_token %} {{ form.as_p}}
            <div class="">
              <button  >Request Now</button>

              <button>shedule for later</button>
             </div> 
            

          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock  %}
