<div class="sidebar  p-0">
  <div class="">
    <h3 class="d-flex justify-content-center ">Cabme</h3>
  </div>
  <ul class="list-unstyled p-4">
    <li>
      <a class="text-black text-decoration-none" href="#"
        ><i class="fas fa-th-large mx-3"></i>Dasboard</a
      >
     </li>
    <li>
      <a class="text-black text-decoration-none" href="{% url 'trip' %}"
        ><i class="fa-solid fa-clock mx-3"></i>Trip</a
      >
    </li>
  
    <li>
      <a class="text-black text-decoration-none" href=""
        ><i class="fa-solid fa-credit-card mx-3"></i>Inventory</a
      >
    </li>
    <li>
      <a class="text-black text-decoration-none" href=""
        ><i class="fas fa-cog mx-3"></i>Settings</a
      >
    </li>
  </ul>
</div

    
    
    