{% extends 'index.html' %} {% load static %} {% block vehicle_page %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="">
        <div class="card-body">
          <div>
           <button class=""> <img src="{% static 'images/sedan.png' %}" alt=""width="100" height="100" >
            <a href=""></a><p>Normal </p>
           </button> 
          </div>
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->

        <div>
          <button class="">
            <img src="{% static 'images/sedan.png' %}" alt=""width="100" height="100" >
            <p>Sadan</p>

          </button>
        </div>
        <div>
          <button class="">
            <img src="{% static 'images/sedan.png' %}" alt=""width="100" height="100" >
            <p>Xl</p>

          </button>

        </div>

      </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
